name: Release Go Binaries
on:
  workflow_run:
    workflows: ["Build application"]
    types:
      - completed

extends: .github/workflow-environment.yaml

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Download Artifact
        uses: actions/download-artifact@v2
        with:
          name: kubernetes-storage-metrics-${{ github.ref }}
          path: kubernetes-storage-metrics
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: kubernetes-storage-metrics/*
