name: Debugging steps
on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Print all variable
        run: |
          echo Organization/Owner name: ${{ github.repository_owner }}
          echo Repository name: ${{ github.repository }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            quay.io/cloud-for-you/kubernetes-storage-metrics
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}